                    <option value="btc">BTC/USDT</option> 
                    <option value="eth">ETH/USDT</option> 
                    <option value="xrp">XRP/USDT</option> 
                    <option value="ltc">LTC/USDT</option>
                    <option value="ada">ADA/USDT</option>
                    <option value="doge">DOGE/USDT</option>
                    <option value="dot">DOT/USDT</option>
                    <option value="uni">UNI/USDT</option>
                    <option value="link">LINK/USDT</option>
                    <option value="xlm">XLM/USDT</option>
                    <option value="trx">TRX/USDT</option>
                    <option value="xmr">XMR/USDT</option>
                    <option value="neo">NEO/USDT</option>
                    <option value="etc">ETC/USDT</option>
                    <option value="dash">DASH/USDT</option>
                    <option value="zec">ZEC/USDT</option>
                    <option value="xtz">XTZ/USDT</option>
                    <option value="atom">ATOM/USDT</option>
                    <option value="vet">VET/USDT</option>
                    <option value="qtum">QTUM/USDT</option>
                    <option value="waves">WAVES/USDT</option>
                    <option value="ont">ONT/USDT</option>
                    <option value="bat">BAT/USDT</option>
                    <option value="icx">ICX/USDT</option>
                    <option value="algo">ALGO/USDT</option>
                    <option value="kmd">BNB/USDT</option>
                    <option value="lsk">LSK/USDT</option>
                    <option value="ardr">ARDR/USDT</option>
                    <option value="steem">STEEM/USDT</option>
                    <option value="npxs">NPXS/USDT</option>
                    <option value="dgb">DGB/USDT</option>
                    <option value="sc">SC/USDT</option>
                    <option value="bts">BTS/USDT</option>
                    <option value="sys">SYS/USDT</option>
                    <option value="gnt">GNT/USDT</option>
                    <option value="sol">SOL/USDT</option>
                    <option value="usdc">USDC/USDT</option>
                    <option value="shib">SHIB/USDT</option>
                    <option value="avax">AVAX/USDT</option>
                    <option value="matic">MATIC/USDT</option>
                    <option value="wbtc">WBTC/USDT</option>
                    <option value="bch">BCH/USDT</option>
                    <option value="icp">ICP/USDT</option>
                    <option value="apt">APT/USDT</option>
                    <option value="op">OP/USDT</option>
                    <option value="xem">XEM/USDT</option>
                    <option value="sushi">SUSHI/USDT</option>
                    <option value="yfi">YFI/USDT</option>
                    <option value="snx">SNX/USDT</option>
                    <option value="ren">REN/USDT</option>
                    <option value="1inch">1INCH/USDT</option>
                    <option value="ocean">OCEAN/USDT</option>
                    <option value="crv">CRV/USDT</option>
                    <option value="bal">BAL/USDT</option>
                    <option value="chz">CHZ/USDT</option>
                    <option value="enj">ENJ/USDT</option>
                    <option value="ftt">FTT/USDT</option>
                    <option value="hbar">HBAR/USDT</option>
                    <option value="hot">HOT/USDT</option>
                    <option value="ksm">KSM/USDT</option>
                    <option value="lrc">LRC/USDT</option>
                    <option value="mkr">MKR/USDT</option>
                    <option value="omg">OMG/USDT</option>
                    <option value="pax">PAX/USDT</option>
                    <option value="qtum">QTUM/USDT</option>
                    <option value="rvn">RVN/USDT</option>
                    <option value="srm">SRM/USDT</option>
                    <option value="stmx">STMX/USDT</option>
                    <option value="sxp">SXP/USDT</option>
                    <option value="tomo">TOMO/USDT</option>
                    <option value="trb">TRB/USDT</option>
                    <option value="twt">TWT/USDT</option>
                    <option value="usdt">USDT/USDT</option>
                    <option value="vtho">VTHO/USDT</option>
                    <option value="xvs">XVS/USDT</option>
                    <option value="zil">ZIL/USDT</option>
                    