<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A fully featured admin theme which can be used to build CRM, CMS, etc."
    />
    <link
      rel="shortcut icon"
      href="{% static 'favicon/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css"
    />
    <link rel="stylesheet" href="{% static 'css/libs.bundle.css' %}" />
    <link rel="stylesheet" href="{% static 'css/theme.bundle.css' %}" />
    <title>Dashkit</title>
    <style>
      .choices>.dropdown-menu {
        width: 100%;
        height: 13rem;
        overflow: auto;
      }

      .btn-color {
        background-color: #12263F;
        color: white;
      }
      .btn-color:disabled {
        background-color: white;
        color: black;
      }
      .btn-color:hover {
        background-color: #1f5291;
        color: white;
      }
      .container-static {
        width: 475px;
        max-width: 475px; /* Ensure the container doesn't exceed 475px */
      }
      
    </style>
  </head>

  <body>
    <div class="main-content">
      <!--redu size of the Panel  -->
      <div class="container-static" style="max-width: 475px">
        <!-- Tab content -->
        <div class="card">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-12 col-md-4">
                  <!-- First name reduce the size of option -->
                  <div class="form-group">
                    <!-- Label -->
                    <label class="form-label"> Exchange </label>

                    <!-- drowpdown -->
                    <select
                      class="form-select mb-0"
                      data-choices
                      name="exchange"
                      id="exchange"
                    >
                      <option value="none">Select</option>
                      <option>Binance</option>
                      <option>Kotak Security</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <!-- Last name -->
                  <div class="form-group">
                    <!-- Label -->
                    <label class="form-label"> Symbol </label>

                    <!-- Dropdown -->

                    <select
                      class="form-select mb-3 containerInner"
                      data-choices
                      name="symbol"
                      id="symbol"
                    >
                      <option value="none">Select</option>
                      <option>BTC/USDT</option>
                      <option>ETH/USDT</option>
                      <option>SOL/USDT</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <!-- Last name -->
                  <div class="form-group">
                    <!-- Label -->
                    <label class="form-label"> Type </label>

                    <!-- Dropdown -->
                    <select
                      class="form-select mb-3"
                      data-choices
                      name="type"
                      id="type"
                    >
                      <option>Select Type</option>
                      <option>Limit</option>
                      <option>Modify</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <!-- First name -->
                  <div class="form-group">
                    <!-- Label -->
                    <label class="form-label"> Risk(in $) </label>

                    <!-- make input and it default value is 500 -->
                    <input
                      type="number"
                      id="risk"
                      class="form-control"
                      placeholder="0.00"
                      name="risk"
                      value="500"
                    />
                  </div>
                </div>
                <div
                  class="col-12 col-md-4"
                  id="stoploss"
                  style="display: block"
                >
                  <!-- First name -->
                  <div class="form-group">
                    <!-- Label -->
                    <label class="form-label"> Stop Loss </label>

                    <!-- input -->
                    <input
                      type="number"
                      id="stop_loss"
                      class="form-control"
                      placeholder="0.00"
                      name="stopLoss"
                    />
                  </div>
                </div>
                <div
                  class="col-12 col-md-4"
                  id="modifysl"
                  style="display: none"
                >
                  <!-- First name -->
                  <div class="form-group">
                    <!-- Label -->
                    <label class="form-label"> Modify SL </label>

                    <input
                      type="number"
                      id="valmodifysl"
                      class="form-control"
                      placeholder="0.00"
                      name="price"
                      step="0.01"
                    />
                  </div> 
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="submit" class="btn-sm text-white btn-success">
                    Make Position
                  </button>
                  <!-- add space b/w both button -->
                  <div style="width: 10px"></div>
                  <button type="button" class="btn-sm btn-danger" id="senddata">
                    Close Position
                  </button>
                </div>

                
            </form>
            
          </div>
        </div>
      </div>
    </div>
    <script src="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
    <script src="{% static 'js/vendor.bundle.js' %}"></script>
    <script src="{% static 'js/theme.bundle.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var closePositionButton = document.getElementById("senddata");

      closePositionButton.addEventListener("click", function () {
        fetch("/close_position/", {
          //use get and post both method
          method: "POST",
          headers: {
            "X-CSRFToken": "{{ csrf_token }}", // Add this line if using Django's CSRF protection

            // Add other headers if needed
          },
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("POST request successful:");
            // You can perform additional actions based on the server response if needed
          })
          .catch((error) => {
            console.error("Error:", error);
          });
        // Handle the case where no checkboxes are selected
      });
    });

  </script>
</html>
  