<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />
  <link rel="shortcut icon" href= "{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
  <link rel="stylesheet" href="{% static 'css/libs.bundle.css' %}" />
  <link rel="stylesheet" href="{% static 'css/theme.bundle.css' %}" />
  <title>Dashkit</title>
  <style>
    .choices>.dropdown-menu {
      width: 100%;
      height: 13rem;
      overflow: auto;
  }
  </style>
</head>

<body>
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidebar">
    <div class="container-fluid"> <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> <a class="navbar-brand"
        href="./index.html"> <img src="{% static 'img/logo.svg' %}" class="navbar-brand-img mx-auto" alt="..."> </a>
      
      <div class="collapse navbar-collapse" id="sidebarCollapse">
        
        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link" href="#sidebarDashboards" data-toggle="collapse" role="button"
              aria-expanded="true" aria-controls="sidebarDashboards"> <i class="fe fe-home"></i> Dashboards </a>
            <div class="collapse show" id="sidebarDashboards">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item"> <a href="./index.html" class="nav-link active"> OMS </a> </li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <div class="main-content">
    <div class="header ">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-end">
            <div class="col">
              <br>
              <h1 class="header-title"> Dashboard </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <!-- Tab content -->
      <div class="card">
        <div class="card-header">

          <h2 class="card-header-title">
            OMS Panel
          </h2>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-12 col-md-4">

                <!-- First name -->
                <div class="form-group">

                  <!-- Label -->
                  <label class="form-label">
                    Exchange
                  </label>

                  <!-- drowpdown -->
                  <select class="form-select mb-3" data-choices>
                    <option value="none">Select Exchange</option>
                    <option value="binance">Binance</option>
                    <option value="kotak_security">Kotak Security</option>
                  </select>
                </div>

              </div>
              <div class="col-12 col-md-4">

                <!-- Last name -->
                <div class="form-group">

                  <!-- Label -->
                  <label class="form-label">
                    Symbol
                  </label>

                  <!-- Dropdown -->

                  <select class="form-select mb-3 containerInner"  data-choices>
                    <option value="none">Select Symbol</option>
                    <option value="btc">BTC/USDT</option>
                    <option value="eth">ETH/USDT</option>
                    <option value="xrp">XRP/USDT</option>
                    <option value="ltc">LTC/USDT</option>
                    <option value="ada">ADA/USDT</option>
                    <option value="doge">DOGE/USDT</option>
                    <option value="dot">DOT/USDT</option>
                    <option value="uni">UNI/USDT</option>
                    <option value="link">LINK/USDT</option>
                    <option value="xlm">XLM/USDT</option>
                    <option value="trx">TRX/USDT</option>
                    <option value="xmr">XMR/USDT</option>
                    <option value="neo">NEO/USDT</option>
                    <option value="etc">ETC/USDT</option>
                    <option value="dash">DASH/USDT</option>
                    <option value="zec">ZEC/USDT</option>
                    <option value="xtz">XTZ/USDT</option>
                    <option value="atom">ATOM/USDT</option>
                    <option value="vet">VET/USDT</option>
                    <option value="qtum">QTUM/USDT</option>
                    <option value="waves">WAVES/USDT</option>
                    <option value="ont">ONT/USDT</option>
                    <option value="bat">BAT/USDT</option>
                    <option value="icx">ICX/USDT</option>
                    <option value="algo">ALGO/USDT</option>
                    <option value="kmd">BNB/USDT</option>
                    <option value="lsk">LSK/USDT</option>
                    <option value="ardr">ARDR/USDT</option>
                    <option value="steem">STEEM/USDT</option>
                    <option value="npxs">NPXS/USDT</option>
                    <option value="dgb">DGB/USDT</option>
                    <option value="sc">SC/USDT</option>
                    <option value="bts">BTS/USDT</option>
                    <option value="sys">SYS/USDT</option>
                    <option value="gnt">GNT/USDT</option>
                    <option value="sol">SOL/USDT</option>
                    <option value="usdc">USDC/USDT</option>
                    <option value="shib">SHIB/USDT</option>
                    <option value="avax">AVAX/USDT</option>
                    <option value="matic">MATIC/USDT</option>
                    <option value="wbtc">WBTC/USDT</option>
                    <option value="bch">BCH/USDT</option>
                    <option value="icp">ICP/USDT</option>
                    <option value="apt">APT/USDT</option>
                    <option value="op">OP/USDT</option>
                    <option value="xem">XEM/USDT</option>
                    <option value="sushi">SUSHI/USDT</option>
                    <option value="yfi">YFI/USDT</option>
                    <option value="snx">SNX/USDT</option>
                    <option value="ren">REN/USDT</option>
                    <option value="1inch">1INCH/USDT</option>
                    <option value="ocean">OCEAN/USDT</option>
                    <option value="crv">CRV/USDT</option>
                    <option value="bal">BAL/USDT</option>
                    <option value="chz">CHZ/USDT</option>
                    <option value="enj">ENJ/USDT</option>
                    <option value="ftt">FTT/USDT</option>
                    <option value="hbar">HBAR/USDT</option>
                    <option value="hot">HOT/USDT</option>
                    <option value="ksm">KSM/USDT</option>
                    <option value="lrc">LRC/USDT</option>
                    <option value="mkr">MKR/USDT</option>
                    <option value="omg">OMG/USDT</option>
                    <option value="pax">PAX/USDT</option>
                    <option value="qtum">QTUM/USDT</option>
                    <option value="rvn">RVN/USDT</option>
                    <option value="srm">SRM/USDT</option>
                    <option value="stmx">STMX/USDT</option>
                    <option value="sxp">SXP/USDT</option>
                    <option value="tomo">TOMO/USDT</option>
                    <option value="trb">TRB/USDT</option>
                    <option value="twt">TWT/USDT</option>
                    <option value="usdt">USDT/USDT</option>
                    <option value="vtho">VTHO/USDT</option>
                    <option value="xvs">XVS/USDT</option>
                    <option value="zil">ZIL/USDT</option>
                  </select>

                </div>

              </div>
              <div class="col-12 col-md-4">

                <!-- Last name -->
                <div class="form-group">

                  <!-- Label -->
                  <label class="form-label">
                    Type
                  </label>

                  <!-- Dropdown -->
                  <select class="form-select mb-3" data-choices>
                    <option value="none">Select Type</option>
                    <option value="market">Market</option>
                  </select>


                </div>

              </div>
              <div class="col-12 col-md-4">

                <!-- First name -->
                <div class="form-group">

                  <!-- Label -->
                  <label class="form-label">
                    Side
                  </label>

                  <!-- drowpdown -->
                  <select class="form-select mb-3" data-choices>
                    <option value="none">Select Side</option>
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                  </select>
                </div>

              </div>
              <div class="col-12 col-md-4">

                <!-- First name -->
                <div class="form-group">

                  <!-- Label -->
                  <label class="form-label">
                    Lot Size
                  </label>

                  <!-- input -->
                  <input type="number" id="lot_size" class="form-control" placeholder="0" />

                </div>

              </div>
              <div class="col-12 col-md-4">

                <!-- First name -->
                <div class="form-group">

                  <!-- Label -->
                  <label class="form-label">
                    Stop Loss
                  </label>

                  <!-- input -->
                  <input type="number" id="stop_loss" class="form-control" placeholder="0.00" />
                </div>

              </div>
            </div> <!-- / .row -->

            <!-- Button -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" class="btn text-white purple" >
                Make Position
              </button>

            </div>

          </form>


        </div>
      </div>

      <br>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="contactsListPane" role="tabpanel" aria-labelledby="contactsListTab">

          <!-- Card -->
          <div class="card"
            data-list='{"valueNames": ["item-symbol", "item-exchange", "item-side", "item-sl", "item-price", "item-qty"], "page": 10, "pagination": {"paginationClass": "list-pagination"}}'
            id="contactsList">
            <div class="card-header">

              <h2 class="card-header-title">
                Postions
              </h2>
              <div class="col-auto">

                <!-- Dropdown -->
                <div class="dropdown">

                  <!-- Toggle -->
                  <button class="btn btn-danger">
                    Close Position
                  </button>
                </div>

              </div>


            </div>
            <div class="card-header">

              <div class="row align-items-center">
                <div class="col">

                  <!-- Form -->
                  <form>
                    <div class="input-group input-group-flush input-group-merge input-group-reverse">
                      <input class="form-control list-search" type="search" placeholder="Search">
                      <span class="input-group-text">
                        <i class="fe fe-search"></i>
                      </span>
                    </div>
                  </form>

                </div>

              </div> <!-- / .row -->
            </div>
            <div class="table-responsive">
              <table class="table table-sm table-hover table-nowrap card-table">
                <thead>
                  <tr>

                    <th>
                      <a class="list-sort text-muted" data-sort="item-symbol" href="#">Symbol</a>
                    </th>
                    <th>
                      <a class="list-sort text-muted" data-sort="item-exchange" href="#">Exchange</a>
                    </th>
                    <th>
                      <a class="list-sort text-muted" data-sort="item-side" href="#">Side</a>
                    </th>
                    <th>
                      <a class="list-sort text-muted" data-sort="item-price" href="#">Price</a>
                    </th>
                    <th>
                      <a class="list-sort text-muted" data-sort="item-qty" href="#">QTY</a>
                    </th>
                    <th>
                      <a class="list-sort text-muted" data-sort="item-sl" href="#">SL</a>
                    </th>
                    <th>

                      <!-- Checkbox -->
                      <div class="form-check mb-n2">
                        <input class="form-check-input list-checkbox-all" id="listCheckboxAll" type="checkbox">
                        <label class="form-check-label" for="listCheckboxAll"></label>
                      </div>

                    </th>
                  </tr>
                </thead>
                <tbody class="list font-size-base">
                  <tr>
                    <td>

                      <!-- Email -->
                      <a class="item-symbol text-reset">BTC/USDT</a>

                    </td>
                    <td>

                      <!-- Text -->
                      <span class="item-exchange">Binance</span>

                    </td>

                    <td>

                      <!-- Phone -->
                      <a class="item-side text-reset badge bg-soft-success">BUY</a>

                    </td>
                    <td>

                      <!-- Badge -->
                      <span class="item-price">$1100</span>

                    </td>
                    <td>

                      <!-- Link -->
                      <a class="item-qty text-reset">10</a>

                    </td>
                    <td>

                      <!-- Link -->
                      <a class="item-sl text-reset">$900</a>

                    </td>
                    <td>

                      <!-- Checkbox -->
                      <div class="form-check justify-content-end">
                        <input class="form-check-input list-checkbox" id="listCheckboxOne" type="checkbox">
                        <label class="form-check-label" for="listCheckboxOne"></label>
                      </div>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer d-flex justify-content-between">

              <!-- Pagination (prev) -->
              <ul class="list-pagination-prev pagination pagination-tabs card-pagination">
                <li class="page-item">
                  <a class="page-link pl-0 pr-4 border-right" href="#">
                    <i class="fe fe-arrow-left mr-1"></i> Prev
                  </a>
                </li>
              </ul>

              <!-- Pagination -->
              <ul class="list-pagination pagination pagination-tabs card-pagination">
                1
              </ul>

              <!-- Pagination (next) -->
              <ul class="list-pagination-next pagination pagination-tabs card-pagination">
                <li class="page-item">
                  <a class="page-link pl-4 pr-0 border-left" href="#">
                    Next <i class="fe fe-arrow-right ml-1"></i>
                  </a>
                </li>
              </ul>

              <!-- Alert -->
              <div class="list-alert alert alert-dark alert-dismissible border fade" role="alert">

                <!-- Content -->
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" id="listAlertCheckbox" type="checkbox" checked disabled>
                      <label class="form-check-label text-white" for="listAlertCheckbox">
                        <span class="list-alert-count">0</span> deal(s)
                      </label>
                    </div>

                  </div>
                  <div class="col-auto mr-n3">

                    <!-- Button -->
                    <button class="btn btn-sm btn-white-20">
                      Edit
                    </button>

                    <!-- Button -->
                    <button class="btn btn-sm btn-white-20">
                      Delete
                    </button>

                  </div>
                </div> <!-- / .row -->

                <!-- Close -->
                <button type="button" class="list-alert-close close" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>

              </div>

            </div>
          </div>

        </div>
      </div>
      <br>
    </div>
  </div>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
  <script src="{% static 'js/vendor.bundle.js' %}"></script>
  <script src="{% static 'js/theme.bundle.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>